.profile-card {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #171816; /* Fondo verde claro */
  }
  
  .left-panel {
    width: 40%;
    text-align: center;
    background-color: #1f1b1b;
    padding: 20px;
  }
  
  .profile-picture .background {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  
  h1 {
    font-size: 2rem;
    margin-top: 15px;
    font-weight: bold;
  }
  
  p {
    font-size: 1rem;
    color: #333;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    display: inline-block;
  }
  
  .right-panel {
    width: 55%;
    padding: 20px;
    background-color: #dcf9b0; /* Fondo verde más intenso */
  }
  
  .about-me h2 {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .about-me p {
    margin-top: 15px;
  }
  
  .education, .experience {
    margin-top: 20px;
  }
  
  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .resume-btn {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    border: 2px solid #000;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .resume-btn:hover {
    background-color: #000;
    color: #fff;
  }
  